<strong>Olá {{ deliveryman }}!</strong>
<p>Houve cancelamento de uma encomenda, segue abaixo os detalhes:</p>

<p>
  <strong>Número: </strong> {{ number}} <br />
  <strong>Descrição: </strong> {{ description }} <br />
</p>
