<strong>Olá {{ deliveryman }}!</strong>
<p>Encomenda cadastrada e disponível para retirada, detalhes abaixo:</p>

<p>
  <strong>Número: </strong> {{ number}} <br />
  <strong>Descrição: </strong> {{ description }} <br />
</p>
